@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the fonts */
@font-face {
  font-family: "DentonTest";
  src: url("./assets/fonts/Denton-Font-Family/Denton100.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "DentonTest";
  src: url("./assets/fonts/Denton-Font-Family/Denton300.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DentonTest";
  src: url("./assets/fonts/Denton-Font-Family/Denton400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DentonTest";
  src: url("./assets/fonts/Denton-Font-Family/Denton500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DentonTest";
  src: url("./assets/fonts/Denton-Font-Family/Denton700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DentonTest";
  src: url("./assets/fonts/Denton-Font-Family/Denton800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "DentonTest";
  src: url("./assets/fonts/Denton-Font-Family/Denton900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-FREE/Gilroy-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-FREE/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
